body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

/* Row backgrounds */
tr[class="read"] {
  background-image: linear-gradient(lightgreen, white);
}

tr[class="to-read"] {
  background-image: linear-gradient(lightblue, white);
}

tr[class="in-progress"] {
  background-image: linear-gradient(lightyellow, white);
}

/* All spans */
span {
  display: inline-block;
}

/* Status styles */
tr[class="read"] span.status {
  border: 1px solid green;
  background-image: linear-gradient(lightgreen, white);
}

tr[class="to-read"] span.status {
  border: 1px solid blue;
  background-image: linear-gradient(lightblue, white);
}

tr[class="in-progress"] span.status {
  border: 1px solid orange;
  background-image: linear-gradient(lightyellow, white);
}

/* Status & rate size */
span[class="status"],
span[class^="rate"] {
  width: 100px;
  height: 25px;
  padding: 4px;
}

/* Rating dots */
span[class^="rate"] > span {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 2px;
  background-color: white;
}

/* Rating fills */
span[class*="one"] > span:first-child {
  background-image: linear-gradient(gold, orange);
}

span[class*="two"] > span:nth-child(-n+2) {
  background-image: linear-gradient(gold, orange);
}

span[class*="three"] > span {
  background-image: linear-gradient(gold, orange);
}
